@import url("https://use.typekit.net/gnh2hjt.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* font-family: "ibm-plex-thai-looped", sans-serif;
font-weight: 100;500;800;
font-style: normal; */
/* font-family: "gigalypse", sans-serif;
font-weight: 800;*/

.textext {
  font-family: "ibm-plex-thai-looped", sans-serif;
  font-weight: 800;
}
.logo-text {
  font-family: "gigalypse", sans-serif;
  font-weight: 800;
}